* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 75%;
    background-color: steelblue;
  }
  h2{
    float:left;
    padding:10px;
  }
  img{
    float: inherit;
    border-radius: 12px;
  }
  .right {
    width: 25%;
    background-color:rgb(79, 106, 156);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #92abcf;
    
  }
  li{
    float: left;
    padding-left: 0px;
  
  }
  li a:hover{
    background-color: rgb(236, 231, 231);
  }
  li a{
    display: block;
    background-color: #92abcf;
    color: black;
    padding: 8px;
    text-decoration: none;
  }
  .login{
   margin: 30px 30px;
   height:35px;
   width:100px;
   background-color: rgb(211, 195, 195);
   border-radius: 10px;
  }
.btn{
  text-decoration: none;
  color: black;

}
.login:hover{
  background-color: rgb(236, 231, 231);
}

.one{
  width: 85%;
  background-color: #f1f1f1;
  height: 650px;
}
.two{
  width: 15%;
  background-color: #b8b8b8;
  height: 650px;
}
footer{
  float: left;
  background-color: #89a0c2;
  width: 100%;
  color: black;
  position: fixed;
  margin-bottom: 0;
  margin-left: 0px;

}

footer a{
  color: black;
}

img { max-width: 100%; height: auto; }
@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
 